APP_TIME_ZONE=UTC
APP_SHUTDOWN_TIMEOUT=30s

HTTP_PORT=5050
HTTP_HOST=0.0.0.0
HTTP_ALLOWED_ORIGINS=http://localhost:5050,null

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

REDIS_PASSWORD=

RMQ_USER=
RMQ_PASSWORD=
RMQ_PORT=5672
RMQ_VHOST=/

LOGGER_LEVEL=DEBUG
